{% extends 'mstore/base.html' %}
{% load static %}
{% block content %}
		<!-- ********************* -->
		<!--        CONTENT        -->
		<!-- ********************* -->
		<main class="watches">

			<!-- блок с товарами -->
			<!-- *внутри имеются карточки с товарами, кнопки добавления в корзину и лайка (добавление в избранное)* -->
			<section class="watches__cards cards">
				<div class="cards__container">
					<!-- заголовок надо менять вместе с названием страницы в браузере, watches eyewerar либо accessories -->
					{% if category.name %}
					<h2 class="cards__title title">{{ category.name }}</h2>
					{% else %}
					<h2 class="cards__title title">{{ text }}</h2>
					{% endif %}
					<div class="cards__items">
						<!-- карточка товара (в этой внутри прокомментированы элементы, в следующих по аналогии) -->
						{% if products %}
						{% for product in products %}

						<article id class="cards__item item-card like">
							<div class="item-relate__labels">
							</div>
							<a href="{% url 'Product' product.slug %}" class="item-card__image-ibg">
								<!-- src-путь к картинке, alt-альтернативный текст (желательно его в одну переменную с названием, они одинаковые должны быть) -->
								<picture><source data-srcset="{{ product.card_image_webp.url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="{{ product.card_image.url }}" alt="{{ product.name }}"></picture>
							</a>
							<div class="item-card__body">
								<div class="item-card__visible">
									<!-- название товара -->
									<h4 class="item-card__title">
										<a href="{% url 'Product' product.slug %}" class="item-card__link-title">{{ product.name }}</a>
									</h4>
									<!-- скидка -->
									{% if product.discount != 0 %}
								<div class="item-card__discount">{{ product.discount }}% Off</div>


									<!-- старая цена -->
									<div class="item-card__price item-card__price_old">$ {{ product.price }}</div>
									{% endif %}
									<!-- цена со скидкой -->
									<div class="item-card__price">$ {{ product.sell_price }}</div>
								</div>
								<div class="item-card__hidden">
									<div class="item-card__actions">
										<!-- кнопка лайка -->

										<button hx-target="#like" hx-trigger="click" hx-get="{% url 'Add to Favourites' product.slug %}" class="item-card__like" type="button">
											<svg stroke="#d84727" width="20" height="18" viewBox="0 0 22 20" fill="#fff" xmlns="http://www.w3.org/2000/svg">
												<path d="M20.9999 3.09334C20.1066 1.26001 17.5332 -0.239994 14.5399 0.63334C13.1096 1.0465 11.8616 1.93253 10.9999 3.14667C10.1382 1.93253 8.89027 1.0465 7.45991 0.63334C4.45991 -0.22666 1.89324 1.26001 0.999911 3.09334C-0.253422 5.66001 0.266578 8.54667 2.54658 11.6733C4.33325 14.12 6.88658 16.6 10.5932 19.48C10.7104 19.5714 10.8547 19.621 11.0032 19.621C11.1518 19.621 11.2961 19.5714 11.4132 19.48C15.1132 16.6067 17.6732 14.1467 19.4599 11.6733C21.7332 8.54667 22.2532 5.66001 20.9999 3.09334Z" fill="black" />
											</svg>
										</button>

										<!-- кнопка добавления в корзину -->
										<button hx-trigger="click" hx-get="{% url 'Add to cart' product.slug %}" class="item-card__cart button button_small" type="button">Add to cart</button>
									</div>
								</div>
							</div>
						</article>
						{% endfor %}
						{% else %}
						<p>No matching products to your search</p>
						{% endif %}
					</div>


						<div class="cards__footer footer-cards">
						<div class="footer-cards__body">
							<!-- кнопка пагинации вперед (задан атрибут disabled для кнопки, по которой дальше нельзя перейти, к нему прописаны стили неработающей стрелки) -->
							<button disabled class="footer-cards__arrow footer-cards__arrow_prev _icon-arrow-slider"></button>
							<!-- номер-ссылка 1 (я ему задала класс active как для активной страницы, по этому классу и можно обращаться к активному номеру) -->
							<a href="" class="footer-cards__number active">1</a>
							<!-- номер-ссылка 2 -->
							<a href="" class="footer-cards__number">2</a>
							<!-- номер-ссылка 3 -->
							<a href="" class="footer-cards__number">3</a>
							<!-- кнопка пагинации назад -->
							<button class="footer-cards__arrow footer-cards__arrow_next _icon-arrow-slider"></button>
						</div>
					</div>
				</div>
			</section>
{% endblock %}